body {
    background-color: #fff;
    color: #212121;
}

.logo {
    color: #000000;
}
.logo-web {
    color: #2196F3;
}
ul {
    list-style: none;
}




/* осн 212121 */
/* веб студ черн */
/* белый */
/* aкцент 2196F3 */
/* преимущества должности 757575 */
/* контакты белый 60 проц */
/* фон е5е5е5 */
/* вторичный фон белый */
/* футер 2F303A*/

